MINIO_ACCESS_KEY=minioadmin
MINIO_EDITOR_BUCKET_NAME=editor
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_SECRET_KEY=minioadmin
MINIO_TEMP_BUCKET_NAME=temporary-release
MINIO_USE_SSL=true
MINIO_VR_BUCKET_NAME=simulator